version: '3.8'

services:
  nginx:
    restart: always
    build: ./Nginx
    ports:
      - "80:80"

  backend:
    restart: on-failure
    build: ./
    command: java -jar tester-0.0.1-SNAPSHOT.jar
    ports: 
      - "8080:8080"